// Override default variables before the import
$body-bg: #F3F3F3;
$font-family-base: "Georgia", "Times New Roman", Times, serif;
// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

body {
    #root {
        margin-top: 1.5em;

        #header {
            margin-bottom: 1em;

            img#T {
                width: 100px;
            }
        }

        hr {
            border-top: 3px double #8d8d8d;
            border-bottom: 0;
        }

        main > div.block:first-child {
            border-top: 0px;
        }

        main {
            div.block {
                border-top: 1px dashed #ddd;

                div.block {
                    margin-left: 1em;
                }
            }
            div.block-cycle {
                float: right;
                color: $red;
                font-size: $font-size-sm;
            }
        }

    }
}

